# aws-cli Profile to use
aws_profile = "default"

# tags to use on the AWS resources (default_tags)
aws_tags = {
     Owner          = "myuser"
     expirationDate = "20250630"
     Purpose        = "DevTest"
}

# Prefix name that we prepend to the resource names
prefix = "my"

# route53 hosted zone
route53_zone_id   = "XXXXXXXXXXXXXXXXXXXXX"
route53_domain    = "mydomain.com"
route53_subdomain = "test"

# AWS EC2 instance type
# t3.xlarge     4 vcpu - 16GB mem - $0.1670/hr
# t3.2xlarge    8 vcpu - 32GB mem - $0.3341/hr
# m5.4xlarge   16 vcpu - 64GB mem - $0.7680/hr
#aws_instance_type = "t3.2xlarge" # not quite enough cpu for suse-obs
aws_instance_type = "m5.4xlarge"

# AWS EC2 ami
# Active images: https://pint.suse.com/?resource=images&search=sles-15-sp6&csp=amazon&region=us-east-1&state=active
# sles sp6 ami (amazon/suse-sles-15-sp6-v20241113-hvm-ssd-x86_64)
aws_ami = "ami-0d9f9dbae7b9a241d"

# Number of instances
instance_node_count = "1"

# AWS EC2 root instance volume size (in GB)
volume_size_root = "100"
volume_size_second_disk = "300"

# Existing AWS SSH key-pair name - https://docs.aws.amazon.com/console/ec2/key-pairs
aws_key_name = "awsmyuser"

# ingress CIDRs
ip_cidr_me = "11.111.11.111/32"
ip_cidr_work = "22.22.22.222/32"

